@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom horizontal scroll for trending section */
.y-scroll::-webkit-scrollbar {
  border-radius: 10px;
  height: 4px;
  width: 4px;
}
.y-scroll::-webkit-scrollbar-thumb:horizontal {
  background: #10b981;
  border-radius: 10px;
}
